/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

body {
    font-family: "Margarine", sans-serif;
    background-color: #2E2A2A !important;
    color: #E8E8E8 !important;
}

.form-body {
  background-color: #474747 !important;
}


h1, h2, h3, h4, h5, h6, p, a, span, div, button, input, textarea, select, option {
    font-family: 'Margarine', sans-serif;
}

/*Navbar*/
.nav-bar {
  align-items: center;
}

/*To make cards the same height*/
.cardHighlight {
    min-height: 100%;
}

.cardHighlight:hover {
    border: 2px solid #007bff; /* Primary color border */
}

.card-subtitle {
    color: #A1D9DB !important;
}
.cardHighlight .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Adjust breakpoints and font sizes as needed */
@media (max-width: 768px) {
  .icon-size {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .icon-size {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .icon-size {
    font-size: 1.5rem; /* Your default size */
  }
}